.text1{
    text-decoration: line-through;
    font-weight: bold;
    letter-spacing: 2px;
}
.text2{
background-color: yellow
}
.text3{
    text-decoration: underline;
}
.text4{
    background-color: yellow;
}
.text5{
    color: red;
    background: yellow;
    font-style: italic;
    text-decoration: none;
}